html,
body {
  margin: 0;
  padding: 0;
}
.node {
  border-radius: 4px;
  position: relative;
  background: #070708;
  padding: 16px;
}

.handle {
  position: absolute;
  cursor: crosshair;
  z-index: 1;
  touch-action: none;
}
.handle.circle {
  width: 16px;
  height: 16px;
  background: white;
  border-radius: 50%;
}
.handle-ghost {
  position: absolute;
  cursor: crosshair;
  z-index: 100;
  width: 32px;
  height: 32px;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  touch-action: none;
  border-radius: 50%;
}
.handle.left {
  left: 0px;
  top: 50%;
  transform: translate(-50%, -50%);
}
.handle.right {
  right: 0px;
  top: 50%;
  transform: translate(50%, -50%);
}

.handle.top {
  top: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.handle.bottom {
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 50%);
}

.edge {
  pointer-events: none;
  stroke: white;
  stroke-width: 1px;
  touch-action: none;
  stroke-linecap: round;
  fill: none;
}

.edge.ghost {
  stroke: none;
  stroke-width: 16px;
}

.edge.hover {
  stroke: rgba(0, 0, 0, 0.301);
  stroke-width: 16px;
}
.edge.animated {
  stroke-dasharray: 10 6;
  stroke-dashoffset: 0;
  animation: stroke 0.45s linear infinite;
}

@keyframes stroke {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -16;
  }
}
